redis-ha:
  enabled: true
controller:
  replicas: 1
server:
  autoscaling:
    enabled: true
    minReplicas: 2
repoServer:
  autoscaling:
    enabled: true
    minReplicas: 2
applicationSet:
  replicas: 2

global:
  domain: argocd.hariharanep4.xyz

server:
  ingress:
    enabled: true
    hosts:
      - argocd.hariharanep4.xyz
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      external-dns.alpha.kubernetes.io/target: "7c082837-45a0-4806-9bf8-6c7475a58e92.cfargotunnel.com"
      external-dns.alpha.kubernetes.io/hostname: argocd.hariharanep4.xyz
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
